
 {% extends 'HWapp/base.html' %}
 {% load static %}
 {% block content %}
 
 <div class="men">
   	<div class="container">
      <div class="col-md-7 single_top">
      	 <h1 class="page-heading product-listing">
			<h2 style="text-align: left; margin-top: -35px; font-size: 50px; color:black;"><b>Brands</b></h2>
		    <span class="heading-counter">----There are 4 brands</span><br>
         </h1>
          <div class="brand_box">	
		     <div class="middle-side col-xs-12 col-sm-6">
		     	<h4>CITIZEN</h4>
		     	<p>International Watch Company has been a leader in luxury watches since 1950. International Warranty. Local Warranty. Citizen. Casio G Shock. Seiko. Rado. Timex. Japanese Watches. Nationwide Shipping. Swiss Watches.</p>
			 </div>
			 <div class="right-side col-xs-12 col-sm-4">
				 <br><br>
			 	<p>Sample ---></p>   
			 </div>
			 <div class="clearfix"> </div>
		  </div>
		  <br>
		  <div class="brand_box">
		     <div class="middle-side col-xs-12 col-sm-6">
		     	<h4>SWATCH+</h4>
		     	<p>Swatch watch UK offers a range of stylish watches including many beloved collections. Shop official Swatch watches. His mission from day one was to bring cool New York big city styles to a wider audience, beginning with friends and expanding to become an internationally recognised classic American brand.</p>
			 </div>
			 <div class="right-side col-xs-12 col-sm-4">
				<br><br>
				<p>Sample ---></p>  
			 </div>
			 <div class="clearfix"> </div>
		  </div>
		  <br>
		  <div class="brand_box">
		     <div class="middle-side col-xs-12 col-sm-6">
		     	<h4>Tommy Watches</h4>
		     	<p>The Tommy Hilfiger brand has its roots back when the eponymous founder opened up his first small chain of clothing stores when still in high school. His mission from day one was to bring cool New York big city styles to a wider audience, beginning with friends and expanding to become an internationally recognised classic American brand.</p>
			 </div>
			 <div class="right-side col-xs-12 col-sm-4">
				<br><br>
				<p>Sample ---></p>
			 </div>
			 <div class="clearfix"> </div>
		  </div>
		  <br>
		  <div class="brand_box">
		     <div class="middle-side col-xs-12 col-sm-6">
		     	<h4>Timex Watches</h4>
		     	<p>As one of the largest high-quality wristwatch manufacturers in the world, a Timex watch is best known for its dependability and quality. Timex watches include pieces for the whole family, from children learning how to tell the time, to men and women looking for a sophisticated timepiece for formal occasions.</p>
			 </div>
			 <div class="right-side col-xs-12 col-sm-4">
				<br><br>
				<p>Sample ---></p>     
			 </div>
			 <div class="clearfix"> </div>
		  </div>
		  <br>
		</div>
		<div class="col-md-5 tabs">
			<br><br>
	      <h3 class="m_1">Related Products</h3>
		  <br>
	      <ul class="product">
	      	<li class="product_img"><img src="{% static 'HWapp/images/Citizen1.jpg'%}" class="img-responsive" alt=""/></li>
	      	<li class="product_desc">
	      		<h4><a href="#">Mens Citizen Endeavour Watch</a></h4>
	      		<p class="single_price">$200.30</p>
	      	    <p class="single_price">Nice watches. Citizen is very famous brand and create lovely and smooth watches for their customers.</p>
	        </li>
	      	<div class="clearfix"> </div>
	      </ul>
		  <br><br><br><br>
	      <ul class="product">
	      	<li class="product_img"><img src="{% static 'HWapp/images/swatch4.jpg'%}" class="img-responsive" alt=""/></li>
	      	<li class="product_desc">
	      		<h4><a href="#">Unisex Swatch Escapejungle Big Bold Chrono</a></h4>
	      		<p class="single_price">$150.30</p>
	      	    <p class="single_price">Nice watches. Swatch is very famous brand and create lovely and smooth watches for their customers.</p>
	        </li>
	      	<div class="clearfix"> </div>
	      </ul>
		  <br><br><br><br><br>
	      <ul class="product">
	      	<li class="product_img"><img src="{% static 'HWapp/images/tommy1.jpg'%}" class="img-responsive" alt=""/></li>
	      	<li class="product_desc">
	      		<h4><a href="#">Tommy Hilfiger Peyton Watch</a></h4>
	      		<p class="single_price">$100.30</p>
	      	    <p class="single_price">Nice watches. Tommy is very famous brand and create lovely and smooth watches for their customers.</p>
	        </li>
	      	<div class="clearfix"> </div>
	      </ul>
		  <br><br><br><br><br><br><br><br>
	      <ul class="product">
	      	<li class="product_img"><img src="{% static 'HWapp/images/timex3.jpg'%}" class="img-responsive" alt=""/></li>
	      	<li class="product_desc">
	      		<h4><a href="#"></a>Timex City Collection Watch</a></h4>
	      		<p class="single_price">$250.30</p>
	      	    <p class="single_price">Nice watches. Timex is very famous brand and create lovely and smooth watches for their customers.</p>
	        </li>
	      	<div class="clearfix"> </div>
	      </ul>
        </div>
     <div class="clearfix"> </div>
	</div>
   </div>
   
   {% endblock %}  